---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Servicio de Salud Sagrada Familia">
	<main>	
		<section class="flex flex-col items-center justify-center h-screen">
			<h1>Pacientes Sagrada Familia DB</h1>
			<p>Esta es una aplicación web para la gestión de pacientes de la Sagrada Familia DB.</p>
		</section>
	</main>
</Layout>

<style>
	main {
		text-align: center;
	}
</style>