---
import NavBar from '../components/NavBar.astro';
import SignIn from '../components/SignIn.astro';
import UserRegister from '../components/UserRegister.astro';
import Layout from '../layouts/Layout.astro';
import Busqueda from '../components/Busqueda.astro';

let session = false;
const { cookies } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (accessToken && refreshToken) {
    session = true;
}
---

<Layout title="Servicio de Salud Sagrada Familia">
	<main>
		<section class="mt-20">
			{session ? (
				<UserRegister />
			) : <SignIn /> }
			<Busqueda />
		</section>
	</main>
</Layout>
