---
	let isDark = false;

const isDarkMode = () => {
    isDark = !isDark;
};
---

<header>
<nav
    class="fixed inset-x-0 top-0 z-10 w-full px-4 py-1 bg-white shadow-md border-slate-500 dark:bg-[#0c1015] transition duration-700 ease-out"
>
    <div class="flex justify-between p-4">
        <div class="text-[2rem] leading-[3rem] tracking-tight font-bold text-black dark:text-white">
            Servicio de Salud Sagrada Familia
        </div>
        <div class="flex items-center space-x-4 text-lg font-semibold tracking-tight">
            <a href="/src/pages/signin.astro" class="hover:bg-gray-100 hover:text-black font-bold py-2 px-4 rounded text-black dark:text-white">
                Iniciar sesión
            </a>
        </div>
    </div>
</nav>

</header>