---
let isDark = false;
let session = false;

const isDarkMode = () => {
    isDark = !isDark;
};

const { cookies } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (accessToken && refreshToken) {
    session = true;
}

---

<header>
<nav
    class="fixed inset-x-0 top-0 z-10 w-full px-4 py-1 bg-white shadow-md border-slate-500 dark:bg-[#0c1015] transition duration-700 ease-out"
>
    <div class="flex justify-between p-4">
        <div class="text-[2rem] leading-[3rem] tracking-tight font-bold text-black dark:text-white">
            Departamento de Salud Sagrada Familia
        </div>
        <form action="/api/auth/signout">
            {session && <button
                type="submit"
                class="px-4 py-2 text-white bg-slate-500 dark:bg-slate-500 dark:text-white rounded-md"
            >
                Cerrar Sesión
            </button> } 
    </div>
</nav>

</header>